
<div class="root-toolbar">
  <div style="min-height: 64px;">
  <p>Current target:<br>
    <span *ngIf="currentTgt">{{ currentTgt.localName }}<span *ngIf="currentTgt.className">.{{ currentTgt.className }}</span></span>
  </p>
  </div>

  <div *ngFor="let category of availableCategories">
    <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">Add {{ category.prettyName || category.name }} element</button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item *ngFor="let element of getElementsFromCategory(category.name)" (click)="addElement(element)">
        {{ element.name }}
      </a>
    </mat-menu>
  </div>
  
  <br>
  <br>

  <div class="example-box" cdkDrag>
    Drag me around
  </div>

  <!-- <div class="example-box" cdkDrag>
    I can only be dragged using the handle

    <div class="example-handle" cdkDragHandle>
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
  </div> -->
</div>
<div class="root-container">
  <router-outlet></router-outlet>
</div>
