/* You can add global styles to this file, and also import other style files */

.root-toolbar {
    width: 200px;
    padding: 8px;
    float: left;
    background-color: #f8f8f8;
    height: 100%;
}

.root-container {
  width: calc(100% - 200px);
  float: right;
}

div.row > div:empty {
  height: 64px;
  border: 1px dashed lightgrey;
}

.example-box {
  width: 160px;
  height: 100px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  margin-right: 25px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// .mat-button-focus-overlay {
//   background-color: transparent !important;
// }
button.mat-button-base {
  margin-bottom: 8px;
}
button:focus {
  outline: none;
}
a:hover {
  text-decoration: inherit;
}
